Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    standard:
      glob: "*.rb"
      run: bundle exec standardrb --fix {staged_files}
      stage_fixed: true
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

refactor: drop TheHive v4 support
  lib/mihari/clients/the_hive.rb
  lib/mihari/config.rb
  lib/mihari/emitters/the_hive.rb
  lib/mihari/schemas/emitter.rb
  spec/emitters/the_hive_spec.rb
Due: standard

docs: update docs [skip ci]
  docs/emitters/hive.md
Due: none

refactor: change library for truncating
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/artifact/ArtifactTag.vue
  frontend/src/components/artifact/ArtifactTags.vue
  frontend/src/components/artifact/DnsRecords.vue
Due: eslint, prettier

refactor: use URI in #url_for
  lib/mihari/clients/base.rb
  lib/mihari/clients/binaryedge.rb
  lib/mihari/clients/fofa.rb
  lib/mihari/clients/hunterhow.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Fofa/_artifacts/1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_HunterHow/_artifacts/1_1_1.yml
Due: standard

refactor: apply rubocop
  .rubocop.yml
  lib/mihari/clients/the_hive.rb
  lib/mihari/commands/sidekiq.rb
  lib/mihari/http.rb
  lib/mihari/models/artifact.rb
  lib/mihari/models/concerns/searchable.rb
  lib/mihari/rule.rb
  lib/mihari/services/creators.rb
  lib/mihari/services/destroyers.rb
  lib/mihari/services/enrichers.rb
  lib/mihari/services/feed.rb
  lib/mihari/services/getters.rb
  lib/mihari/services/initializers.rb
  lib/mihari/services/searchers.rb
  lib/mihari/sidekiq/application.rb
  lib/mihari/sidekiq/jobs.rb
  lib/mihari/structs/google_public_dns.rb
  mihari.gemspec
  spec/cli/alert_spec.rb
  spec/cli/config_spec.rb
  spec/enrichers/google_public_dns_spec.rb
  spec/factories/alerts.rb
  spec/factories/artifacts.rb
  spec/factories/rules.rb
  spec/factories/tags.rb
  spec/services/feed_spec.rb
  spec/services/initializers_spec.rb
  spec/sidekiq/artifact_enrich_job_spec.rb
  spec/sidekiq/search_job_spec.rb
  spec/support/httpbin.rb
  spec/support/shared_contexts/httpbin_context.rb
Due: standard

refactor: update Dockerfile & docker-compose.yml
  Dockerfile
  docker-compose.yml
  docker/docker-compose.yml
Due: none

chore: update swgger.yaml
  frontend/src/swagger.yaml
Due: none

chore: update ER diagram
  images/er.png
Due: none

ci: release gem and also Docker image
  .github/workflows/release.yml
Due: none

v7.0.0
  lib/mihari/version.rb
Due: standard

ci: renew release workflows
  .github/workflows/gem-release.yml
  .github/workflows/image-release.yml
Due: none

ci: fix command [skip ci]
  .github/workflows/image-release.yml
Due: none

fix: pass build-arg
  .github/workflows/image-release.yml
Due: none

chore: reduce image size
  Dockerfile
  docker-compose.yml
Due: none

fix: fix RuleBuilder issue (#955)
  lib/mihari/services/builders.rb
  spec/services/rule_builder_spec.rb
Due: standard

refactor: stop using VCR as much as possible
  spec/commands/search_spec.rb
  spec/emitters/database_spec.rb
  spec/fixtures/rules/valid_rule.yml
  spec/fixtures/vcr_cassettes/Mihari_Commands_Search/_search/1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Rule/crt_sh_www_example_com.yml
  spec/fixtures/vcr_cassettes/Mihari_Rule/with_duplicated_artifacts/_normalized_artifacts/1_4_1_1.yml
  spec/rule_spec.rb
Due: standard

fix: use command spec as an integration spec
  spec/commands/search_spec.rb
  spec/fixtures/rules/valid_rule.yml
  spec/fixtures/vcr_cassettes/Mihari_Commands_Search/_search/1_1_1.yml
Due: standard

ci: set version correctly
  .github/workflows/image-release.yml
Due: none

refactor: use builder class to build enrichment models
  lib/mihari/models/artifact.rb
  lib/mihari/models/autonomous_system.rb
  lib/mihari/models/cpe.rb
  lib/mihari/models/dns.rb
  lib/mihari/models/geolocation.rb
  lib/mihari/models/reverse_dns.rb
  lib/mihari/models/whois.rb
  lib/mihari/services/builders.rb
  spec/commands/search_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Services_DnsRecordBuilder/_call/1_1_1.yml
  spec/models/autonomous_system_spec.rb
  spec/models/cpe_spec.rb
  spec/models/port_spec.rb
  spec/models/reverse_dns_spec.rb
  spec/services/autonomous_system_spec.rb
  spec/services/cpe_spec.rb
  spec/services/dns_spec.rb
  spec/services/geolocation_spec.rb
  spec/services/port_spec.rb
  spec/services/reverse_dns_spec.rb
  spec/services/whois_spec.rb
Due: standard

refactor: release Docker image when a version tag is pushed [skip ci]
  .github/workflows/image-release.yml
Due: none

feat: support specifying "match" option
  docs/analyzers/crtsh.md
  lib/mihari/analyzers/crtsh.rb
  lib/mihari/clients/crtsh.rb
  lib/mihari/schemas/analyzer.rb
Due: standard

v7.0.1
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
Due: standard

ci: renew workflows
  .github/workflows/docs.yml
  .github/workflows/gem.yml
  .github/workflows/image.yml
Due: none

v7.0.2
  lib/mihari/version.rb
Due: standard

ci: revert on-push trigger
  .github/workflows/docs.yml
  .github/workflows/image.yml
Due: none

v7.0.3
  lib/mihari/version.rb
Due: standard

test: test #safe_execute
  spec/cli/applicaiton_spec.rb
Due: standard

chore: install csv gem
  mihari.gemspec
Due: none

test: update tests
  frontend/src/components/rule/EditRule.vue
  frontend/src/types.ts
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/middleware/capture_exceptions.rb
  spec/factories/artifacts.rb
  spec/models/artifact_spec.rb
  spec/rule_spec.rb
  spec/support/shared_contexts/logger_context.rb
  spec/web/endpoints/ip_addresses_spec.rb
  spec/web/endpoints/rules_spec.rb
  spec/web/endpoints/tags_spec.rb
  spec/web/middleware/capture_exceptions_spec.rb
Due: standard, eslint, prettier

fix: use null coalescing operator
  frontend/src/components/OverviewCards.vue
Due: eslint, prettier

fix: fix diff issue
  docs/archtecture.md
  docs/overview.md
  docs/rule.md
  lib/mihari/rule.rb
  spec/rule_spec.rb
Due: standard

refactor: stop outputting initialization message
  lib/mihari/commands/rule.rb
  spec/cli/rule_spec.rb
Due: standard

chore: update dependencies
  frontend/package.json
  mihari.gemspec
Due: none

refactor: rename lengthly component name
  frontend/src/components/artifact/ArtifactDetailWrapper.vue
Due: eslint, prettier

docs: update nav
  mkdocs.yml
Due: none

v7.0.4
  lib/mihari/version.rb
Due: standard

fix: update lockfile
  frontend/package-lock.json
Due: none

fix: check nil before stringfying
  lib/mihari/rule.rb
Due: standard

fix: fix refresh (onDelete) issue
  frontend/src/components/alert/Alerts.vue
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/artifact/Artifacts.vue
  frontend/src/components/artifact/ArtifactsWrapper.vue
  frontend/src/components/rule/Rules.vue
  frontend/src/components/rule/RulesWrapper.vue
Due: eslint, prettier

refactor: stop retrying on 404
  lib/mihari/concerns/retriable.rb
  lib/mihari/errors.rb
  lib/mihari/http.rb
  spec/concerns/retriable_spec.rb
  spec/support/httpbin.rb
  spec/support/shared_contexts/httpbin_context.rb
Due: standard
