Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    standard:
      glob: "*.rb"
      run: bundle exec standardrb --fix {staged_files} && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files} && git add {staged_files}

refactor: fix client issues
  lib/mihari/analyzers/circl.rb
  lib/mihari/analyzers/crtsh.rb
  lib/mihari/analyzers/dnstwister.rb
  lib/mihari/analyzers/otx.rb
  lib/mihari/analyzers/passivetotal.rb
  lib/mihari/analyzers/pulsedive.rb
  lib/mihari/analyzers/securitytrails.rb
  lib/mihari/clients/base.rb
  lib/mihari/clients/binaryedge.rb
  lib/mihari/clients/censys.rb
  lib/mihari/clients/circl.rb
  lib/mihari/clients/crtsh.rb
  lib/mihari/clients/dnstwister.rb
  lib/mihari/clients/greynoise.rb
  lib/mihari/clients/hunterhow.rb
  lib/mihari/clients/misp.rb
  lib/mihari/clients/onyphe.rb
  lib/mihari/clients/otx.rb
  lib/mihari/clients/passivetotal.rb
  lib/mihari/clients/publsedive.rb
  lib/mihari/clients/securitytrails.rb
  lib/mihari/clients/shodan.rb
  lib/mihari/clients/the_hive.rb
  lib/mihari/clients/urlscan.rb
  lib/mihari/clients/virustotal.rb
  lib/mihari/clients/zoomeye.rb
  spec/analyzers/virustotal_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_VirusTotal/with_domain/_artifacts/1_2_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_VirusTotal/with_ipv4/_artifacts/1_1_1_1.yml
Due: standard

docs: renew tags [skip ci]
  docs/analyzers/binaryedge.md
  docs/analyzers/censys.md
  docs/analyzers/circl.md
  docs/analyzers/crtsh.md
  docs/analyzers/dnstwister.md
  docs/analyzers/greynoise.md
  docs/analyzers/hunterhow.md
  docs/analyzers/index.md
  docs/analyzers/onyphe.md
  docs/analyzers/otx.md
  docs/analyzers/passivetotal.md
  docs/analyzers/pulsedive.md
  docs/analyzers/securitytrails.md
  docs/analyzers/shodan.md
  docs/analyzers/urlscan.md
  docs/analyzers/virustotal.md
  docs/analyzers/virustotal_intelligence.md
  docs/analyzers/zoomeye.md
  docs/enrichers/google_public_dns.md
  docs/enrichers/ipinfo.md
  docs/enrichers/shodan.md
  docs/enrichers/whois.md
  mkdocs.yml
Due: none

v5.6.1
  frontend/package-lock.json
  lib/mihari/version.rb
Due: standard

refactor: define Rule as Mihari::Rule
  lib/mihari.rb
  lib/mihari/analyzers/rule.rb
  lib/mihari/services/rule_proxy.rb
  lib/mihari/structs/config.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Rule/crt_sh_www_example_com.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Rule/with_duplicated_artifacts/_normalized_artifacts/1_2_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Rule/crt_sh_www_example_com.yml
  spec/fixtures/vcr_cassettes/Mihari_Rule/with_duplicated_artifacts/_normalized_artifacts/1_2_1_1.yml
  spec/rule_spec.rb
  spec/services/rule_proxy_spec.rb
Due: standard

refactor: remove RuleProxy
  lib/mihari.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/emitters/base.rb
  lib/mihari/rule.rb
  lib/mihari/services/alert_proxy.rb
  lib/mihari/services/rule_builder.rb
  lib/mihari/services/rule_proxy.rb
  lib/mihari/services/rule_runner.rb
  lib/mihari/web/endpoints/rules.rb
  spec/commands/rule_spec.rb
  spec/emitters/database_spec.rb
  spec/emitters/misp_spec.rb
  spec/emitters/slack_spec.rb
  spec/emitters/the_hive_spec.rb
  spec/emitters/webhook_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Rule/crt_sh_www_example_com.yml
  spec/fixtures/vcr_cassettes/Mihari_Rule/with_duplicated_artifacts/_normalized_artifacts/1_4_1_1.yml
  spec/rule_spec.rb
  spec/services/alert_proxy_spec.rb
  spec/services/rule_proxy_spec.rb
  spec/services/rule_runner_spec.rb
  spec/support/shared_contexts/database_context.rb
Due: standard

refactor: use double splat
  lib/mihari/rule.rb
  lib/mihari/services/alert_proxy.rb
  lib/mihari/services/rule_builder.rb
  spec/rule_spec.rb
  spec/services/rule_runner_spec.rb
  spec/support/shared_contexts/database_context.rb
Due: standard

refactor: use double splat
  lib/mihari/services/alert_builder.rb
  lib/mihari/services/alert_proxy.rb
  lib/mihari/web/endpoints/alerts.rb
  spec/services/alert_proxy_spec.rb
Due: standard

refactor: renew schemas
  lib/mihari.rb
  lib/mihari/actor.rb
  lib/mihari/analyzers/base.rb
  lib/mihari/analyzers/passivetotal.rb
  lib/mihari/analyzers/securitytrails.rb
  lib/mihari/analyzers/virustotal.rb
  lib/mihari/emitters/base.rb
  lib/mihari/enrichers/base.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/schemas/emitter.rb
  lib/mihari/schemas/enricher.rb
  lib/mihari/schemas/mixins.rb
  lib/mihari/schemas/rule.rb
Due: standard

refactor: renew Emitter & analyzers/emitters validation
  lib/mihari/actor.rb
  lib/mihari/emitters/base.rb
  lib/mihari/emitters/database.rb
  lib/mihari/emitters/misp.rb
  lib/mihari/emitters/slack.rb
  lib/mihari/emitters/the_hive.rb
  lib/mihari/emitters/webhook.rb
  lib/mihari/rule.rb
  lib/mihari/services/alert_runner.rb
  spec/emitters/database_spec.rb
  spec/emitters/misp_spec.rb
  spec/emitters/slack_spec.rb
  spec/emitters/the_hive_spec.rb
  spec/emitters/webhook_spec.rb
  spec/support/shared_contexts/database_context.rb
Due: standard

refactor: renew specs
  spec/analyzers/feed_spec.rb
  spec/analyzers/greynoise_spec.rb
  spec/analyzers/hunterhow_spec.rb
  spec/analyzers/passivetotal_spec.rb
  spec/analyzers/pulsedive_spec.rb
  spec/analyzers/securitytrails_spec.rb
  spec/analyzers/virustotal_intelligence_spec.rb
  spec/analyzers/zoomeye_spec.rb
  spec/emitters/slack_spec.rb
  spec/enrichers/whois_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_VirusTotal/domain/_artifacts/1_2_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_VirusTotal/ipv4/_artifacts/1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_VirusTotalIntelligence/with_domain/_artifacts/1_3_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_VirusTotalIntelligence/with_file/_artifacts/1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_VirusTotalIntelligence/with_ip/_artifacts/1_4_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_VirusTotalIntelligence/with_url/_artifacts/1_2_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_dns/with_domain/1_4_1_1.yml
  spec/mihari_spec.rb
  spec/mixins/refang_spec.rb
  spec/models/alert_spec.rb
  spec/models/artifact_spec.rb
  spec/models/rule_spec.rb
  spec/models/whois_spec.rb
  spec/rule_spec.rb
  spec/schemas/rule_spec.rb
  spec/services/rule_runner_spec.rb
  spec/type_checker_spec.rb
  spec/web/app_spec.rb
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/artifacts_spec.rb
  spec/web/endpoints/ip_addresses_spec.rb
  spec/web/endpoints/rules_spec.rb
  spec/web/endpoints/tags_spec.rb
Due: standard

refactor: name subject
  spec/analyzers/analyzer_spec.rb
  spec/analyzers/binaryedge_spec.rb
  spec/analyzers/censys_spec.rb
  spec/analyzers/circl_spec.rb
  spec/analyzers/crtsh_spec.rb
  spec/analyzers/dnstwister_spec.rb
  spec/analyzers/feed_spec.rb
  spec/analyzers/greynoise_spec.rb
  spec/analyzers/hunterhow_spec.rb
  spec/analyzers/onyphe_spec.rb
  spec/analyzers/otx_spec.rb
  spec/analyzers/passivetotal_spec.rb
  spec/analyzers/pulsedive_spec.rb
  spec/analyzers/securitytrails_spec.rb
  spec/analyzers/shodan_spec.rb
  spec/analyzers/urlscan_spec.rb
  spec/analyzers/virustotal_intelligence_spec.rb
  spec/analyzers/virustotal_spec.rb
  spec/analyzers/zoomeye_spec.rb
  spec/emitters/database_spec.rb
  spec/emitters/misp_spec.rb
  spec/emitters/slack_spec.rb
  spec/emitters/the_hive_spec.rb
  spec/emitters/webhook_spec.rb
  spec/enrichers/google_public_dns_spec.rb
  spec/enrichers/ipinfo_spec.rb
  spec/enrichers/shodan_spec.rb
  spec/enrichers/whois_spec.rb
  spec/feed/parser_spec.rb
  spec/mixins/falsepositive.rb
  spec/mixins/refang_spec.rb
  spec/mixins/retriable_spec.rb
  spec/models/autonomous_system_spec.rb
  spec/models/geolocation_spec.rb
  spec/type_checker_spec.rb
Due: standard

v5.6.2
  frontend/package-lock.json
  frontend/package.json
  lib/mihari.rb
  lib/mihari/version.rb
  mihari.gemspec
Due: standard

fix: don't install ruboco-yard in Ruby v2
  mihari.gemspec
Due: none

fix: fix typo
  mihari.gemspec
Due: none

feat: support Fofa
  README.md
  docs/analyzers/fofa.md
  docs/analyzers/index.md
  lib/mihari.rb
  lib/mihari/clients/fofa.rb
  lib/mihari/config.rb
  lib/mihari/structs/fofa.rb
  mkdocs.yml
  spec/analyzers/fofa_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Fofa/_artifacts/1_1_1.yml
  spec/spec_helper.rb
Due: standard

fix: add analyzer
  lib/mihari/analyzers/fofa.rb
Due: standard

fix: add schema
  lib/mihari/schemas/analyzer.rb
Due: standard

refactor: introduce anyway_config
  lib/mihari/config.rb
  mihari.gemspec
  spec/spec_helper.rb
Due: standard

v5.7.0
  config.ru
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/alert/Form.vue
  frontend/src/components/artifact/AS.vue
  frontend/src/components/artifact/DnsRecords.vue
  frontend/src/components/artifact/ReverseDnsNames.vue
  frontend/src/components/artifact/WhoisRecord.vue
  lib/mihari/commands/web.rb
  lib/mihari/version.rb
  mihari.gemspec
Due: standard, eslint

fix: remove p
  lib/mihari/commands/web.rb
Due: standard

v5.7.0 (#790)
  config.ru
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/alert/Form.vue
  frontend/src/components/artifact/AS.vue
  frontend/src/components/artifact/DnsRecords.vue
  frontend/src/components/artifact/ReverseDnsNames.vue
  frontend/src/components/artifact/WhoisRecord.vue
  lib/mihari/commands/web.rb
  lib/mihari/version.rb
  mihari.gemspec
Due: standard, eslint

refactor: do bunch of minor refactorings
  .rubocop.yml
  lib/mihari.rb
  lib/mihari/service.rb
  lib/mihari/services/alert_builder.rb
  lib/mihari/services/alert_proxy.rb
  lib/mihari/structs/binaryedge.rb
  lib/mihari/structs/censys.rb
  lib/mihari/structs/fofa.rb
  lib/mihari/structs/google_public_dns.rb
  lib/mihari/structs/greynoise.rb
  lib/mihari/structs/hunterhow.rb
  lib/mihari/structs/ipinfo.rb
  lib/mihari/structs/onyphe.rb
  lib/mihari/structs/shodan.rb
  lib/mihari/structs/urlscan.rb
  lib/mihari/structs/virustotal_intelligence.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard

fix: use triple-dot
  lib/mihari/service.rb
Due: standard

refactor: do bunch of minor refactorings (#791)
  .rubocop.yml
  lib/mihari.rb
  lib/mihari/service.rb
  lib/mihari/services/alert_builder.rb
  lib/mihari/services/alert_proxy.rb
  lib/mihari/structs/binaryedge.rb
  lib/mihari/structs/censys.rb
  lib/mihari/structs/fofa.rb
  lib/mihari/structs/google_public_dns.rb
  lib/mihari/structs/greynoise.rb
  lib/mihari/structs/hunterhow.rb
  lib/mihari/structs/ipinfo.rb
  lib/mihari/structs/onyphe.rb
  lib/mihari/structs/shodan.rb
  lib/mihari/structs/urlscan.rb
  lib/mihari/structs/virustotal_intelligence.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard

refactor: renew service classes
  lib/mihari/commands/alert.rb
  lib/mihari/commands/search.rb
  lib/mihari/enrichers/ipinfo.rb
  lib/mihari/rule.rb
  lib/mihari/service.rb
  lib/mihari/services/alert_builder.rb
  lib/mihari/services/alert_runner.rb
  lib/mihari/services/rule_builder.rb
  lib/mihari/services/rule_runner.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
  spec/rule_spec.rb
  spec/services/rule_runner_spec.rb
Due: standard

refactor: stop inheriting Service
  lib/mihari/actor.rb
  lib/mihari/service.rb
Due: standard

fix: fix typo
  lib/mihari/web/endpoints/tags.rb
Due: standard

fix: renew tag deletion
  frontend/src/api-helper.ts
  frontend/src/api.ts
  frontend/src/components/artifact/Tags.vue
  frontend/src/components/tag/Tag.vue
  frontend/src/types.ts
  lib/mihari/entities/tag.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard, eslint

fix: renew tag deletion (#794)
  frontend/src/api-helper.ts
  frontend/src/api.ts
  frontend/src/components/artifact/Tags.vue
  frontend/src/components/tag/Tag.vue
  frontend/src/types.ts
  lib/mihari/entities/tag.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard, eslint

fix: fix tags assignments
  lib/mihari/web/endpoints/artifacts.rb
Due: standard

refactor: renew #call
  lib/mihari/services/alert_builder.rb
  lib/mihari/services/rule_builder.rb
Due: standard

refactor: simplify #call
  lib/mihari/web/app.rb
Due: standard

Fix issues (#795)
  lib/mihari/services/alert_builder.rb
  lib/mihari/services/rule_builder.rb
  lib/mihari/web/app.rb
  lib/mihari/web/endpoints/artifacts.rb
Due: standard
