Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint

standard:
  run: bundle exec standardrb --fix {staged_files} && git add {staged_files}

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

ci: update PostgreSQL
  .github/workflows/test.yml
  docs/requirements.md
Due: none

refactor: renew Docker support
  Dockerfile
  docker-compose.yml
  docs/docker.md
  docs/installation.md
  mkdocs.yml
Due: none

refactor: add triple dash
  frontend/src/rule.ts
Due: eslint

fix: fix type mismatch
  frontend/src/types.ts
Due: eslint

v5.7.1
  lib/mihari/version.rb
Due: standard

fix: fix spec file issue
  docker/Dockerfile
  docker/docker-compose.yml
  docs/docker.md
  mihari.gemspec
Due: none

refactor: add #get_json and #post_json
  lib/mihari/clients/base.rb
  lib/mihari/clients/binaryedge.rb
  lib/mihari/clients/censys.rb
  lib/mihari/clients/crtsh.rb
  lib/mihari/clients/dnstwister.rb
  lib/mihari/clients/fofa.rb
  lib/mihari/clients/greynoise.rb
  lib/mihari/clients/hunterhow.rb
  lib/mihari/clients/misp.rb
  lib/mihari/clients/onyphe.rb
  lib/mihari/clients/otx.rb
  lib/mihari/clients/passivetotal.rb
  lib/mihari/clients/publsedive.rb
  lib/mihari/clients/securitytrails.rb
  lib/mihari/clients/shodan.rb
  lib/mihari/clients/the_hive.rb
  lib/mihari/clients/urlscan.rb
  lib/mihari/clients/virustotal.rb
  lib/mihari/clients/zoomeye.rb
  lib/mihari/http.rb
Due: standard

refactor: remove error notification mixin
  lib/mihari.rb
  lib/mihari/mixins/error_notification.rb
  lib/mihari/web/middleware/error_notification_adapter.rb
Due: standard

refactor: use around to setup DB connection
  lib/mihari/cli/main.rb
  lib/mihari/commands/alert.rb
  lib/mihari/commands/database.rb
  lib/mihari/commands/mixins.rb
  lib/mihari/commands/search.rb
Due: standard

chore: downcase the name
  lib/mihari/constants.rb
Due: standard

chore: fix typo
  lib/mihari/database.rb
Due: standard

docs: update docs
  docs/database.md
  docs/emitters/database.md
  docs/rule.md
  docs/tips/alternatives.md
  docs/tips/docker.md
  docs/tips/github_actions.md
  docs/tips/superset.md
  mkdocs.yml
Due: none

chore: update deps
  frontend/package-lock.json
  frontend/package.json
  mihari.gemspec
Due: none

v5.7.2
  lib/mihari/version.rb
Due: standard

feat: introduce better_errors
  config.ru
  lib/mihari.rb
  lib/mihari/cli/main.rb
  lib/mihari/mixins/unwrap_error.rb
  lib/mihari/web/app.rb
  lib/mihari/web/middleware/error_notification_adapter.rb
  mihari.gemspec
Due: standard

chore: update Grape
  lib/mihari/web/app.rb
  mihari.gemspec
  spec/spec_helper.rb
  spec/web/app_spec.rb
Due: standard

chore: require Ruby >= 3.1
  .github/workflows/test.yml
  mihari.gemspec
Due: none

v6.0.0
  docker/Dockerfile
  docs/requirements.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/swagger.yaml
  lib/mihari/version.rb
  mihari.gemspec
Due: standard

test: test config keys
  lib/mihari/analyzers/hunterhow.rb
  lib/mihari/emitters/misp.rb
  lib/mihari/emitters/the_hive.rb
  spec/analyzers/analyzer_spec.rb
  spec/config_spec.rb
Due: standard

refactor: improve Sentry support
  docs/configuration.md
  docs/tips/sentry.md
  lib/mihari.rb
  lib/mihari/config.rb
  lib/mihari/web/app.rb
Due: standard

docs: add Sentry in navbar
  mkdocs.yml
Due: none

docs: update docs [skip ci]
  docs/analyzers/binaryedge.md
  docs/analyzers/censys.md
  docs/analyzers/circl.md
  docs/analyzers/fofa.md
  docs/analyzers/greynoise.md
  docs/analyzers/hunterhow.md
  docs/analyzers/index.md
  docs/analyzers/onyphe.md
  docs/analyzers/otx.md
  docs/analyzers/passivetotal.md
  docs/analyzers/pulsedive.md
  docs/analyzers/securitytrails.md
  docs/analyzers/shodan.md
  docs/analyzers/urlscan.md
  docs/analyzers/virustotal.md
  docs/analyzers/virustotal_intelligence.md
  docs/analyzers/zoomeye.md
  docs/configuration.md
  docs/emitters/database.md
  docs/emitters/hive.md
  docs/emitters/index.md
  docs/emitters/misp.md
  docs/emitters/slack.md
  docs/enrichers/index.md
  docs/enrichers/ipinfo.md
Due: none

refactor: cache enricher's #call
  lib/mihari/enrichers/base.rb
  lib/mihari/enrichers/ipinfo.rb
  lib/mihari/enrichers/shodan.rb
  lib/mihari/enrichers/whois.rb
  lib/mihari/models/artifact.rb
Due: standard

refactor: use memo-wise
  lib/mihari.rb
  lib/mihari/emitters/slack.rb
  lib/mihari/enrichers/base.rb
  lib/mihari/enrichers/ipinfo.rb
  lib/mihari/enrichers/shodan.rb
  lib/mihari/enrichers/whois.rb
  lib/mihari/mixins/falsepositive.rb
  mihari.gemspec
Due: standard

ci: run type-check
  .github/workflows/node-test.yml
Due: none

test: renew tests
  .rubocop.yml
  spec/emitters/database_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_autonomous_system/1_6_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_by_enricher/with_Google_Public_DNS/1_7_3_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_by_enricher/with_IPInfo/1_7_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_by_enricher/with_IPInfo/1_7_1_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_by_enricher/with_Shodan/1_7_2_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_by_enricher/with_Shodan/1_7_2_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_dns/1_4_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_dns/with_URL/1_4_2_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_dns/with_domain/1_4_1_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_geolocation/1_5_2.yml
  spec/models/artifact_spec.rb
  spec/models/autonomous_system_spec.rb
  spec/models/geolocation_spec.rb
Due: standard

feat: add query column
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactTag.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/main.ts
  frontend/src/swagger.yaml
  frontend/src/types.ts
  frontend/vite.config.ts
  lib/mihari/actor.rb
  lib/mihari/analyzers/base.rb
  lib/mihari/database.rb
  lib/mihari/entities/artifact.rb
Due: standard, eslint

fix: update error message
  spec/rule_spec.rb
Due: standard

v6.1.0
  docs/database.md
  lib/mihari/version.rb
Due: standard

chore: add ruby-lsp-rspec
  mihari.gemspec
Due: none

feat: add parallel option
  docs/analyzers/index.md
  docs/rule.md
  lib/mihari/analyzers/base.rb
  lib/mihari/config.rb
  lib/mihari/rule.rb
  lib/mihari/schemas/options.rb
  spec/rule_spec.rb
Due: standard

refactor: renew TypeChecker
  lib/mihari.rb
  lib/mihari/analyzers/circl.rb
  lib/mihari/analyzers/dnstwister.rb
  lib/mihari/analyzers/otx.rb
  lib/mihari/analyzers/passivetotal.rb
  lib/mihari/analyzers/pulsedive.rb
  lib/mihari/analyzers/securitytrails.rb
  lib/mihari/analyzers/virustotal.rb
  lib/mihari/data_type.rb
  lib/mihari/models/artifact.rb
  lib/mihari/type_checker.rb
  spec/data_type_spec.rb
  spec/type_checker_spec.rb
Due: standard

refactor: renew Google Public DNS enricher
  lib/mihari/clients/google_public_dns.rb
  lib/mihari/enrichers/google_public_dns.rb
  lib/mihari/models/dns.rb
  lib/mihari/structs/google_public_dns.rb
  spec/enrichers/google_public_dns_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Enrichers_GooglePublicDNS/_query_by_type/1_1_1.yml
Due: standard

fix: fix issues
  lib/mihari/enrichers/google_public_dns.rb
  lib/mihari/models/dns.rb
  spec/fixtures/vcr_cassettes/Mihari_Enrichers_GooglePublicDNS/_query_by_type/1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_by_enricher/with_Google_Public_DNS/1_7_3_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_dns/with_URL/1_4_2_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_dns/with_domain/1_4_1_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_DnsRecord/_build_by_domain/1_1_1.yml
Due: standard

chore: minor fixes
  lib/mihari.rb
  lib/mihari/actor.rb
  lib/mihari/config.rb
  lib/mihari/database.rb
Due: standard

v6.2.0
  lib/mihari/version.rb
Due: standard

ci: replace ci with install
  .github/workflows/release.yml
Due: none

chore: update Vite (4 to 5)
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: eslint

Path conditions:
  standard: any of: *.rb
  eslint: any of: *.{js,ts,vue} and ^frontend/
