Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint

standard:
  run: bundle exec standardrb --fix {staged_files} && git add {staged_files}

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

refactor: reduce .from_class complexity
  lib/mihari/structs/config.rb
Due: standard

refactor: revamp rule(s)
  lib/mihari/analyzers/base.rb
  lib/mihari/analyzers/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/structs/rule.rb
  spec/analyzers/rule_spec.rb
Due: standard

refactor: stop check configuration in #analyzers
  lib/mihari/analyzers/rule.rb
Due: standard

refactor: stop outputting stack trace if there is a ConfigurationError
  lib/mihari/commands/search.rb
Due: standard

refactor: set alias
  lib/mihari/analyzers/base.rb
Due: standard

chore: update deps
  mihari.gemspec
Due: none

refactor: autoformat by standard
  lib/mihari/entities/rule.rb
  lib/mihari/entities/tag.rb
Due: standard

chore: update frontend assets
  lib/mihari/web/public/assets/index-ac4e5ffa.js
  lib/mihari/web/public/assets/index-cbe1734c.js
  lib/mihari/web/public/index.html
Due: none

v5.2.4
  lib/mihari/version.rb
Due: standard

refactor: use stage_fixed [skip ci]
  lefthook.yml
Due: none

chore: update Node.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.node.json
Due: none

ci: add Node.js CI
  .github/workflows/node-test.yml
Due: none

ci: set cache-dependency-path
  .github/workflows/node-test.yml
Due: none

docs: remove Tines log [skip ci]
  README.md
Due: none

refactor: renew error class name
  lib/mihari/analyzers/binaryedge.rb
  lib/mihari/errors.rb
  lib/mihari/http.rb
  spec/analyzers/binaryedge_spec.rb
Due: standard

refactor: remove dry-initializer
  lib/mihari/analyzers/base.rb
  lib/mihari/analyzers/binaryedge.rb
  lib/mihari/analyzers/censys.rb
  lib/mihari/analyzers/circl.rb
  lib/mihari/analyzers/crtsh.rb
  lib/mihari/analyzers/dnstwister.rb
  lib/mihari/analyzers/feed.rb
  lib/mihari/analyzers/greynoise.rb
  lib/mihari/analyzers/onyphe.rb
  lib/mihari/analyzers/otx.rb
  lib/mihari/analyzers/passivetotal.rb
  lib/mihari/analyzers/pulsedive.rb
  lib/mihari/analyzers/securitytrails.rb
  lib/mihari/analyzers/shodan.rb
  lib/mihari/analyzers/urlscan.rb
  lib/mihari/analyzers/virustotal.rb
  lib/mihari/analyzers/virustotal_intelligence.rb
  lib/mihari/analyzers/zoomeye.rb
  lib/mihari/emitters/slack.rb
  lib/mihari/type_checker.rb
  mihari.gemspec
  spec/analyzers/analyzer_spec.rb
Due: standard

chore: remove public
  lib/mihari/web/public/assets/fa-brands-400-20c4a58b.ttf
  lib/mihari/web/public/assets/fa-brands-400-74833209.woff2
  lib/mihari/web/public/assets/fa-regular-400-528d022d.ttf
  lib/mihari/web/public/assets/fa-regular-400-8e7e5ea1.woff2
  lib/mihari/web/public/assets/fa-solid-900-67a65763.ttf
  lib/mihari/web/public/assets/fa-solid-900-7152a693.woff2
  lib/mihari/web/public/assets/fa-v4compatibility-0515a423.ttf
  lib/mihari/web/public/assets/fa-v4compatibility-694a17c3.woff2
  lib/mihari/web/public/assets/index-ac4e5ffa.js
  lib/mihari/web/public/assets/index-eed1bcd8.css
  lib/mihari/web/public/favicon.ico
  lib/mihari/web/public/index.html
  lib/mihari/web/public/redoc-static.html
Due: none

chore: update .gitignore
  .gitignore
Due: none

refactor: renew build task
  Rakefile
  build_frontend.sh
  mihari.gemspec
Due: none

ci: create dummy frontend assets
  .github/workflows/test.yml
Due: none

refactor: remove dry-configurable
  lib/mihari.rb
  mihari.gemspec
  spec/mihari_spec.rb
Due: standard

feat: make retry configurable
  lib/mihari.rb
  lib/mihari/analyzers/base.rb
  lib/mihari/constants.rb
  lib/mihari/schemas/analyzer.rb
Due: standard

refactor: define Config class in config.rb
  lib/mihari.rb
  lib/mihari/config.rb
Due: standard

refactor: stop defining configs as top-level class method
  lib/mihari.rb
  lib/mihari/web/endpoints/configs.rb
Due: standard

chore: update, lint and format frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/rule/InputForm.vue
Due: eslint

v5.3.0
  lib/mihari/version.rb
  mihari.gemspec
Due: standard

ci: renew CI jobs
  .github/workflows/node-test.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

refactor: tree-shaking font-awesome
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Loading.vue
  frontend/src/components/alert/Alert.vue
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/config/Configs.vue
  frontend/src/components/rule/EditRule.vue
  frontend/src/components/rule/NewRule.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/components/rule/RulesWrapper.vue
  frontend/src/main.ts
Due: eslint

v5.3.1
  .github/workflows/release.yml
  Rakefile
  lib/mihari/version.rb
Due: standard

refactor: use vue3-ace-editor
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ace-config.ts
  frontend/src/components/rule/InputForm.vue
  frontend/src/components/rule/YAML.vue
Due: eslint

refactor: small refactorings
  lib/mihari.rb
  lib/mihari/constants.rb
  lib/mihari/mixins/configurable.rb
  lib/mihari/mixins/falsepositive.rb
  lib/mihari/mixins/retriable.rb
Due: standard

refactor: add Rule service class
  lib/mihari.rb
  lib/mihari/analyzers/rule.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/emitters/base.rb
  lib/mihari/emitters/misp.rb
  lib/mihari/emitters/slack.rb
  lib/mihari/emitters/the_hive.rb
  lib/mihari/emitters/webhook.rb
  lib/mihari/services/rule.rb
  lib/mihari/web/endpoints/rules.rb
  spec/analyzers/rule_spec.rb
  spec/commands/rule_spec.rb
  spec/emitters/database_spec.rb
  spec/emitters/misp_spec.rb
  spec/emitters/slack_spec.rb
  spec/emitters/the_hive_spec.rb
  spec/emitters/webhook_spec.rb
  spec/services/rule_spec.rb
  spec/support/shared_contexts/database_context.rb
Due: standard

ci: run tests in parallel
  .github/workflows/test.yml
Due: none

Upgrade to latest Mihari version and fix Censys errors
  docker/Dockerfile
Due: none

fix: fix #666
  lib/mihari/analyzers/base.rb
  lib/mihari/analyzers/binaryedge.rb
  lib/mihari/analyzers/censys.rb
  lib/mihari/analyzers/onyphe.rb
  lib/mihari/analyzers/shodan.rb
  lib/mihari/analyzers/urlscan.rb
  lib/mihari/analyzers/virustotal_intelligence.rb
  lib/mihari/analyzers/zoomeye.rb
Due: standard

v5.3.2
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/alert/Form.vue
  frontend/src/components/rule/EditRule.vue
  frontend/src/components/rule/Form.vue
  frontend/src/components/rule/InputForm.vue
  frontend/src/views/Artifact.vue
  frontend/src/views/EditRule.vue
  frontend/src/views/Rule.vue
  lib/mihari/version.rb
  mihari.gemspec
Due: standard, eslint

feat: support hunter.how
  lib/mihari.rb
  lib/mihari/analyzers/hunterhow.rb
  lib/mihari/analyzers/rule.rb
  lib/mihari/clients/hunterhow.rb
  lib/mihari/config.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/schemas/rule.rb
  lib/mihari/structs/hunterhow.rb
  spec/analyzers/hunterhow_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_HunterHow/_artifacts/1_1_1.yml
  spec/schemas/rule_spec.rb
  spec/spec_helper.rb
Due: standard

docs: update README [skip ci]
  README.md
Due: none

feat: introduce pagination limit
  lib/mihari/analyzers/base.rb
  lib/mihari/analyzers/binaryedge.rb
  lib/mihari/analyzers/censys.rb
  lib/mihari/analyzers/hunterhow.rb
  lib/mihari/analyzers/onyphe.rb
  lib/mihari/analyzers/shodan.rb
  lib/mihari/analyzers/urlscan.rb
  lib/mihari/analyzers/virustotal_intelligence.rb
  lib/mihari/analyzers/zoomeye.rb
  lib/mihari/config.rb
  lib/mihari/constants.rb
  lib/mihari/schemas/analyzer.rb
Due: standard

Path conditions:
  standard: any of: *.rb
  eslint: any of: *.{js,ts,vue} and ^frontend/
