Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint, prettier, type-check, actionlint

lefthook.yml:

pre-commit:
  commands:
    standard:
      glob: "*.rb"
      run: bundle exec standardrb --fix {staged_files}
      stage_fixed: true
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    type-check:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npm run type-check
    actionlint:
      glob: ".github/workflows/*.yaml"
      run: actionlint

v7.3.1
  lib/mihari/version.rb
Due: standard

docs: update docs [skip ci]
  docs/analyzers/index.md
  docs/emitters/webhook.md
Due: none

docs: fix typo [skip ci]
  docs/usage.md
Due: none

fix: fix dead link [skip ci]
  docs/index.md
Due: none

chore: update Jbuilder template [skip ci]
  docs/usage.md
Due: none

docs: update README [skip ci]
  README.md
  docs/index.md
Due: none

fix: enrich vulns
  lib/mihari/enrichers/shodan.rb
Due: standard

v7.3.2
  lib/mihari/version.rb
Due: standard

chore: update deps
  frontend/package-lock.json
  frontend/package.json
  mihari.gemspec
Due: none

refactor: fix typos [skip ci]
  lib/mihari/services/getters.rb
  lib/mihari/web/endpoints/rules.rb
Due: standard

ci: test with Ruby 3.3
  .github/workflows/ruby.yml
Due: none

ci: update paths to trigger Ruby jobs
  .github/workflows/ruby.yml
Due: none

Update renovate.json
  renovate.json
Due: none

chore: use double_quotes to comply with Standard
  .rubocop.yml
Due: none

fix: apply standard --fix
  lib/mihari/concerns/database_connectable.rb
Due: standard

chore: introduce Shadowenv [skip ci]
  .shadowenv.d/.gitignore
  .shadowenv.d/000_unset_all.lisp
Due: none

feat: attribute/observable level tagging
  docs/emitters/hive.md
  docs/emitters/misp.md
  lib/mihari/emitters/misp.rb
  lib/mihari/emitters/the_hive.rb
  lib/mihari/models/tag.rb
  lib/mihari/schemas/emitter.rb
Due: standard

refactor: split parallel into analyzer_parallelism & emitter_parallelism
  docs/analyzers/index.md
  docs/configuration.md
  docs/emitters/index.md
  lib/mihari/analyzers/base.rb
  lib/mihari/config.rb
  lib/mihari/emitters/base.rb
Due: standard

chore: update frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: fix schema mismatch issue
  frontend/src/schemas.ts
Due: eslint, prettier, type-check

chore: ignore Python's venv
  .gitignore
Due: none

refactor: simplify #normalize_asn
  lib/mihari/concerns/autonomous_system_normalizable.rb
Due: standard

chore: update Ruby deps
  mihari.gemspec
Due: none

docs: update mkdocs-material
  requirements.txt
Due: none

refactor: prefer empty tags
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/alert/Alert.vue
  frontend/src/components/alert/AlertDetail.vue
  frontend/src/components/alert/AlertDetailWrapper.vue
  frontend/src/components/alert/Alerts.vue
  frontend/src/components/alert/AlertsWithPagination.vue
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/artifact/ArtifactDetailWrapper.vue
  frontend/src/components/artifact/ArtifactTags.vue
  frontend/src/components/artifact/Artifacts.vue
  frontend/src/components/artifact/ArtifactsWrapper.vue
  frontend/src/components/config/ConfigsWrapper.vue
  frontend/src/components/link/Links.vue
  frontend/src/components/rule/EditRule.vue
  frontend/src/components/rule/EditRuleWrapper.vue
  frontend/src/components/rule/InputForm.vue
  frontend/src/components/rule/NewRule.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/components/rule/RuleDetail.vue
  frontend/src/components/rule/RuleDetailWrapper.vue
  frontend/src/components/rule/RulesWrapper.vue
  frontend/src/components/rule/YAML.vue
  frontend/src/components/tag/Tags.vue
  frontend/src/views/Alerts.vue
  frontend/src/views/Artifact.vue
  frontend/src/views/Rule.vue
Due: eslint, prettier, type-check

v7.4.0
  lib/mihari/version.rb
Due: standard

docs: remove logo [skip ci]
  README.md
  images/logo.png
Due: none

refactor: split enricher & client
  lib/mihari.rb
  lib/mihari/clients/whois.rb
  lib/mihari/enrichers/whois.rb
Due: standard

feat: support Yeti
  docs/emitters/index.md
  docs/emitters/yeti.md
  lib/mihari.rb
  lib/mihari/clients/base.rb
  lib/mihari/clients/yeti.rb
  lib/mihari/config.rb
  lib/mihari/data_type.rb
  lib/mihari/emitters/yeti.rb
  lib/mihari/schemas/emitter.rb
  spec/emitters/yeti_spec.rb
Due: standard

chore: update deps
  frontend/package-lock.json
  frontend/package.json
  mihari.gemspec
  requirements.txt
Due: none

refactor: stop using VCR
  spec/emitters/the_hive_spec.rb
Due: standard

v7.5.0
  lib/mihari/version.rb
Due: standard

feat: add dark-mode support
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/OverviewCards.vue
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/artifact/WhoisRecord.vue
  frontend/src/components/link/Link.vue
  frontend/src/components/link/Links.vue
  frontend/src/main.ts
Due: eslint, prettier, type-check

chore: remove unused dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

refactor: define build:frontend task
  Rakefile
Due: none

fix: remove import
  frontend/src/main.ts
Due: eslint, prettier, type-check

feat: add Validin integration
  .shadowenv.d/000_unset_all.lisp
  docs/analyzers/validin.md
  docs/configuration.md
  lib/mihari.rb
  lib/mihari/analyzers/validin.rb
  lib/mihari/clients/validin.rb
  lib/mihari/config.rb
  lib/mihari/schemas/analyzer.rb
  spec/analyzers/validin_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Validin/with_domain/_artifacts/1_2_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Validin/with_ip/_artifacts/1_1_1_1.yml
Due: standard
