Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint, prettier, type-check, actionlint

lefthook.yml:

pre-commit:
  commands:
    standard:
      glob: "*.rb"
      run: bundle exec standardrb --fix {staged_files}
      stage_fixed: true
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    type-check:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npm run type-check
    actionlint:
      glob: ".github/workflows/*.yaml"
      run: actionlint

refactor: use script setup
  frontend/src/router/index.ts
  frontend/src/views/Alert.vue
  frontend/src/views/AlertView.vue
  frontend/src/views/Alerts.vue
  frontend/src/views/AlertsView.vue
  frontend/src/views/Artifact.vue
  frontend/src/views/ArtifactView.vue
  frontend/src/views/Config.vue
  frontend/src/views/ConfigView.vue
  frontend/src/views/NewRule.vue
  frontend/src/views/Rule.vue
  frontend/src/views/RuleView.vue
  frontend/src/views/Rules.vue
  frontend/src/views/RulesView.vue
Due: eslint, prettier, type-check

fix: fix 204 DELETE issue
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/configs.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
  spec/web/endpoints/artifacts_spec.rb
Due: standard

fix: fix 204 DELETE issue (#1081)
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/configs.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
  spec/web/endpoints/artifacts_spec.rb
Due: standard

v7.6.0
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: standard

v7.6.0 (#1082)
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: standard

feat: add Validin integration (#1083)
  .shadowenv.d/000_unset_all.lisp
  docs/analyzers/validin.md
  docs/configuration.md
  lib/mihari.rb
  lib/mihari/analyzers/validin.rb
  lib/mihari/clients/validin.rb
  lib/mihari/config.rb
  lib/mihari/schemas/analyzer.rb
  spec/analyzers/validin_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Validin/with_domain/_artifacts/1_2_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Validin/with_ip/_artifacts/1_1_1_1.yml
Due: standard

v7.6.1 [skip ci]
  docs/analyzers/index.md
  lib/mihari/version.rb
Due: standard

v7.6.1 [skip ci] (#1084)
  docs/analyzers/index.md
  lib/mihari/version.rb
Due: standard

Add Validin to the README
  README.md
Due: none

Add Validin to the README (#1085)
  README.md
Due: none

refactor: renew rubocop & rspec
  .github/workflows/ruby.yml
  .rubocop.yml
  Rakefile
  lefthook.yml
  mihari.gemspec
  spec/analyzers/dnstwister_spec.rb
  spec/analyzers/otx_spec.rb
  spec/analyzers/securitytrails_spec.rb
  spec/cli/alert_spec.rb
  spec/cli/rule_spec.rb
  spec/concerns/autonomous_system_normalizable_spec.rb
  spec/concerns/error_unwrappable_spec.rb
  spec/concerns/falsepositive_validatable_spec.rb
  spec/concerns/refangable_spec.rb
  spec/concerns/retriable_spec.rb
  spec/config_spec.rb
  spec/emitters/misp_spec.rb
  spec/emitters/slack_spec.rb
  spec/emitters/the_hive_spec.rb
  spec/emitters/yeti_spec.rb
  spec/factories/rules.rb
  spec/mihari_spec.rb
  spec/models/artifact_spec.rb
  spec/rule_spec.rb
  spec/schemas/rule_spec.rb
  spec/services/artifact_enricher_spec.rb
  spec/sidekiq/search_job_spec.rb
  spec/support/httpbin.rb
  spec/support/shared_contexts/httpbin_context.rb
Due: standard

refactor: renew rubocop & rspec (#1091)
  .github/workflows/ruby.yml
  .rubocop.yml
  Rakefile
  lefthook.yml
  mihari.gemspec
  spec/analyzers/dnstwister_spec.rb
  spec/analyzers/otx_spec.rb
  spec/analyzers/securitytrails_spec.rb
  spec/cli/alert_spec.rb
  spec/cli/rule_spec.rb
  spec/concerns/autonomous_system_normalizable_spec.rb
  spec/concerns/error_unwrappable_spec.rb
  spec/concerns/falsepositive_validatable_spec.rb
  spec/concerns/refangable_spec.rb
  spec/concerns/retriable_spec.rb
  spec/config_spec.rb
  spec/emitters/misp_spec.rb
  spec/emitters/slack_spec.rb
  spec/emitters/the_hive_spec.rb
  spec/emitters/yeti_spec.rb
  spec/factories/rules.rb
  spec/mihari_spec.rb
  spec/models/artifact_spec.rb
  spec/rule_spec.rb
  spec/schemas/rule_spec.rb
  spec/services/artifact_enricher_spec.rb
  spec/sidekiq/search_job_spec.rb
  spec/support/httpbin.rb
  spec/support/shared_contexts/httpbin_context.rb
Due: standard

docs: fix broken link issue [skip ci]
  docs/architecture.md
  mkdocs.yml
Due: none

docs: fix broken link issue [skip ci] (#1092)
  docs/architecture.md
  mkdocs.yml
Due: none

fix: remove console.log
  .github/workflows/node.yml
  frontend/.eslintrc.cjs
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/ArtifactItem.vue
  frontend/src/components/artifact/ArtifactsItem.vue
  frontend/src/components/artifact/ArtifactsWrapper.vue
Due: eslint, prettier, type-check

fix: remove console.log (#1094)
  .github/workflows/node.yml
  frontend/.eslintrc.cjs
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/ArtifactItem.vue
  frontend/src/components/artifact/ArtifactsItem.vue
  frontend/src/components/artifact/ArtifactsWrapper.vue
Due: eslint, prettier, type-check

chore: update dependencies
  .rubocop.yml
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/clients/crtsh.rb
  lib/mihari/clients/dnstwister.rb
  lib/mihari/clients/google_public_dns.rb
  lib/mihari/clients/mmdb.rb
  lib/mihari/clients/shodan_internet_db.rb
  lib/mihari/enrichers/base.rb
  mihari.gemspec
  spec/analyzers/analyzer_spec.rb
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/artifacts_spec.rb
Due: standard

chore: update dependencies (#1095)
  .rubocop.yml
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/clients/crtsh.rb
  lib/mihari/clients/dnstwister.rb
  lib/mihari/clients/google_public_dns.rb
  lib/mihari/clients/mmdb.rb
  lib/mihari/clients/shodan_internet_db.rb
  lib/mihari/enrichers/base.rb
  mihari.gemspec
  spec/analyzers/analyzer_spec.rb
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/artifacts_spec.rb
Due: standard

chore: update actionlint hook [skip ci]
  lefthook.yml
Due: none

v7.6.2
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: standard

v7.6.2 (#1100)
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: standard

fix: update lockfile
  frontend/package-lock.json
Due: none

docs: update misp & thehive docs [skip ci]
  docs/emitters/hive.md
  docs/emitters/misp.md
Due: none

refactor: split validation and formatting
  docs/usage.md
  lib/mihari/commands/rule.rb
  lib/mihari/rule.rb
Due: standard

test: fix assertions
  spec/cli/rule_spec.rb
Due: standard

fix: remove coveralls-reborn
  mihari.gemspec
  spec/spec_helper.rb
Due: standard

fix: catch SystemExit
  spec/cli/rule_spec.rb
Due: standard

refactor: split validation and formatting (#1101)
  docs/usage.md
  lib/mihari/commands/rule.rb
  lib/mihari/rule.rb
  mihari.gemspec
  spec/cli/rule_spec.rb
  spec/spec_helper.rb
Due: standard

chore: activerecrod v7.2.0
  lib/mihari/database.rb
  mihari.gemspec
  spec/spec_helper.rb
Due: standard

chore: activerecrod v7.2.0 (#1107)
  lib/mihari/database.rb
  mihari.gemspec
  spec/spec_helper.rb
Due: standard

feat: improve enrichment parallelism
  lib/mihari/enrichers/whois.rb
  lib/mihari/models/artifact.rb
  lib/mihari/rule.rb
Due: standard

feat: improve enrichment parallelism (#1108)
  lib/mihari/enrichers/whois.rb
  lib/mihari/models/artifact.rb
  lib/mihari/rule.rb
Due: standard

chore: update mkdocs
  requirements.txt
Due: none

chore: update frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: remove unused build script
  build_frontend.sh
Due: none

v7.6.3
  lib/mihari/version.rb
Due: standard
