Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    standard:
      glob: "*.rb"
      run: bundle exec standardrb --fix {staged_files} && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files} && git add {staged_files}

test: use let_it_be
  spec/emitters/database_spec.rb
  spec/emitters/slack_spec.rb
  spec/emitters/webhook_spec.rb
  spec/models/alert_spec.rb
  spec/models/artifact_spec.rb
  spec/models/rule_spec.rb
  spec/spec_helper.rb
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/artifacts_spec.rb
Due: standard

Optimize Docker image size with optimized layering and cleanup
  docker/Dockerfile
Due: none

fix: fix CJS warning
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: renew search features
  lib/mihari/entities/artifact.rb
  lib/mihari/models/alert.rb
  lib/mihari/models/artifact.rb
  lib/mihari/models/rule.rb
  lib/mihari/structs/filters.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/exports.rb
  lib/mihari/web/endpoints/rules.rb
  spec/models/alert_spec.rb
  spec/models/artifact_spec.rb
  spec/models/rule_spec.rb
Due: standard

refactor: use camelCase
  frontend/src/swagger.yaml
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
Due: standard

fix: fix pagination issue
  frontend/src/components/Pagination.vue
  frontend/src/components/alert/Alerts.vue
  frontend/src/components/alert/AlertsWithPagination.vue
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/alert/Form.vue
  frontend/src/components/rule/Form.vue
  frontend/src/components/rule/RulesWrapper.vue
  frontend/src/utils.ts
Due: eslint

v6.3.0
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: standard

fix: add data type filter
  lib/mihari/models/artifact.rb
Due: standard

refactor: introduce mixins in models & filters for searching
  lib/mihari.rb
  lib/mihari/models/alert.rb
  lib/mihari/models/artifact.rb
  lib/mihari/models/mixins.rb
  lib/mihari/models/rule.rb
  lib/mihari/structs/filters.rb
Due: standard

test: test webhook by Glint + Webrick
  lib/mihari/emitters/webhook.rb
  mihari.gemspec
  spec/emitters/webhook_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Emitters_Webhook/_call/1_2_1.yml
  spec/spec_helper.rb
Due: standard

refactor: introduce base search service class
  lib/mihari.rb
  lib/mihari/services/searchers.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/rules.rb
Due: standard

feat: add search commands
  docs/usage.md
  frontend/src/components/alert/AlertsWrapper.vue
  lib/mihari/cli/artifact.rb
  lib/mihari/cli/main.rb
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/rule.rb
  lib/mihari/entities/artifact.rb
  lib/mihari/models/alert.rb
  lib/mihari/models/artifact.rb
Due: standard, eslint

refactor: use helper
  spec/emitters/webhook_spec.rb
  spec/spec_helper.rb
  spec/support/helpers.rb
Due: standard

refactor: rename commands
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/rule.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard

refactor: renew service classes & comamnds
  lib/mihari.rb
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/rule.rb
  lib/mihari/services/builders.rb
  lib/mihari/services/destroyers.rb
  lib/mihari/services/enrichers.rb
  lib/mihari/services/getters.rb
  lib/mihari/services/rule_builder.rb
  lib/mihari/services/runners.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard

refactor: make it possible to delete a tag in rules view
  frontend/src/components/rule/Rules.vue
  frontend/src/components/tag/Tag.vue
  frontend/src/components/tag/Tags.vue
  lib/mihari/web/endpoints/rules.rb
Due: standard, eslint

fix: revert RuleRunner
  lib/mihari/services/runners.rb
Due: standard

fix: fix Shodan geolocation issue (#883)
  lib/mihari/structs/shodan.rb
Due: standard

chore: change error message
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard

refactor: renew services
  docker/docker-compose.yml
  frontend/src/api-helper.ts
  frontend/src/api.ts
  frontend/src/components/rule/Rule.vue
  frontend/src/main.ts
  frontend/src/types.ts
  lib/mihari.rb
  lib/mihari/cli/main.rb
  lib/mihari/cli/tag.rb
  lib/mihari/commands/alert.rb
  lib/mihari/commands/tag.rb
  lib/mihari/entities/tag.rb
  lib/mihari/services/builders.rb
  lib/mihari/services/creators.rb
  lib/mihari/services/getters.rb
  lib/mihari/services/proxies.rb
  lib/mihari/services/runners.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard, eslint

refactor: renew services
  lib/mihari.rb
  lib/mihari/cli/config.rb
  lib/mihari/cli/main.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/config.rb
  lib/mihari/commands/tag.rb
  lib/mihari/entities/alert.rb
  lib/mihari/entities/artifact.rb
  lib/mihari/entities/mixins.rb
  lib/mihari/entities/rule.rb
  lib/mihari/entities/tag.rb
  lib/mihari/models/tag.rb
  lib/mihari/services/searchers.rb
  lib/mihari/web/endpoints/configs.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard

refactor: renew services
  lib/mihari.rb
  lib/mihari/commands/config.rb
  lib/mihari/entities/alert.rb
  lib/mihari/entities/artifact.rb
  lib/mihari/entities/pagination.rb
  lib/mihari/entities/rule.rb
  lib/mihari/entities/tag.rb
  lib/mihari/structs/config.rb
  spec/structs/config_spec.rb
Due: standard

fix: fix type issue
  frontend/src/api-helper.ts
  frontend/src/api.ts
  frontend/src/types.ts
Due: eslint

refactor: renew pagination
  frontend/src/components/alert/Alerts.vue
  frontend/src/components/rule/Rules.vue
  frontend/src/types.ts
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/tag.rb
  lib/mihari/entities/alert.rb
  lib/mihari/entities/artifact.rb
  lib/mihari/entities/rule.rb
  lib/mihari/entities/tag.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/artifacts_spec.rb
  spec/web/endpoints/rules_spec.rb
  spec/web/endpoints/tags_spec.rb
Due: standard, eslint

refactor: renew frontend
  frontend/src/api-helper.ts
  frontend/src/api.ts
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/OverviewCards.vue
  frontend/src/components/Pagination.vue
  frontend/src/components/alert/Alert.vue
  frontend/src/components/alert/Alerts.vue
  frontend/src/components/alert/AlertsWithPagination.vue
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/config/Configs.vue
  frontend/src/components/link/Links.vue
  frontend/src/components/rule/ActionButtons.vue
  frontend/src/components/rule/LinkButtons.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/components/rule/RuleDetail.vue
  frontend/src/components/rule/RuleDetailWrapper.vue
  frontend/src/components/rule/Rules.vue
  frontend/src/components/rule/RulesWrapper.vue
  frontend/src/links/emailrep.ts
  frontend/src/links/index.ts
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/types.ts
  frontend/src/views/Alerts.vue
  frontend/src/views/Configuration.vue
  frontend/src/views/Rule.vue
  lib/mihari/models/mixins.rb
Due: standard, eslint

docs: update docs [skip ci]
  docs/database.md
  docs/rule.md
  docs/tips/alternatives.md
  docs/tips/superset.md
  docs/usage.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Navbar.vue
  frontend/src/router/index.ts
  frontend/src/swagger.yaml
  frontend/src/views/Config.vue
  images/Tines-Full_Logo-Tines_Black.png
  images/alert.png
  images/er.png
  images/misp.png
  images/overview.jpg
  images/slack.png
  images/superset1.png
  images/superset2.png
  images/tines.png
  images/web_alerts.png
  images/web_config.png
  mkdocs.yml
Due: eslint

refactor: improve Sentry
  lib/mihari.rb
  lib/mihari/database.rb
  lib/mihari/web/app.rb
  lib/mihari/web/middleware/capture_exceptions.rb
  lib/mihari/web/middleware/connection.rb
  lib/mihari/web/middleware/error_notification_adapter.rb
Due: standard

feat: renew API & frontend
  frontend/src/api-helper.ts
  frontend/src/api.ts
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/alert/ActionButtons.vue
  frontend/src/components/alert/AlertDetail.vue
  frontend/src/components/alert/AlertDetailWrapper.vue
  frontend/src/components/alert/Alerts.vue
  frontend/src/components/alert/AlertsWithPagination.vue
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactTag.vue
  frontend/src/components/artifact/ArtifactWrapper.vue
  frontend/src/components/rule/ActionButtons.vue
  frontend/src/components/rule/EditRule.vue
  frontend/src/components/rule/NewRule.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/components/rule/RuleDetail.vue
  frontend/src/components/rule/RuleDetailWrapper.vue
  frontend/src/components/rule/Rules.vue
  frontend/src/components/rule/RulesWrapper.vue
  frontend/src/components/tag/Tag.vue
  frontend/src/router/index.ts
  frontend/src/swagger.yaml
  frontend/src/types.ts
  frontend/src/views/Alert.vue
  lib/mihari/commands/alert.rb
  lib/mihari/commands/rule.rb
  lib/mihari/entities/alert.rb
  lib/mihari/entities/artifact.rb
  lib/mihari/models/alert.rb
  lib/mihari/models/artifact.rb
  lib/mihari/models/rule.rb
  spec/web/endpoints/artifacts_spec.rb
Due: standard, eslint

refactor: remove artifact lifetime
  docs/rule.md
  lib/mihari/models/artifact.rb
  lib/mihari/rule.rb
  lib/mihari/schemas/rule.rb
  spec/models/artifact_spec.rb
  spec/schemas/rule_spec.rb
Due: standard

refactor: renew search
  docs/usage.md
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/rule/RulesWrapper.vue
  lib/mihari/models/alert.rb
  lib/mihari/models/tag.rb
Due: standard, eslint

refactor: renew database URL format/handling
  docs/configuration.md
  docs/emitters/database.md
  lib/mihari/config.rb
  lib/mihari/database.rb
  spec/spec_helper.rb
Due: standard

refactor: renew web command
  docs/configuration.md
  docs/usage.md
  lib/mihari/commands/web.rb
Due: standard

feat: add artifacts view
  docs/usage.md
  frontend/src/components/Navbar.vue
  frontend/src/components/Pagination.vue
  frontend/src/components/alert/Alerts.vue
  frontend/src/components/alert/AlertsWithPagination.vue
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/artifact/ArtifactDetailWrapper.vue
  frontend/src/components/artifact/Artifacts.vue
  frontend/src/components/artifact/ArtifactsWrapper.vue
  frontend/src/components/rule/ActionButtons.vue
  frontend/src/components/rule/Rules.vue
  frontend/src/components/rule/RulesWrapper.vue
  frontend/src/router/index.ts
  frontend/src/views/Artifacts.vue
  lib/mihari/database.rb
  lib/mihari/entities/artifact.rb
  lib/mihari/entities/cpe.rb
  lib/mihari/entities/dns.rb
  lib/mihari/entities/geolocation.rb
  lib/mihari/entities/port.rb
  lib/mihari/entities/reverse_dns.rb
  lib/mihari/entities/whois.rb
  lib/mihari/models/alert.rb
  lib/mihari/models/artifact.rb
Due: standard, eslint

fix: fix build issue
  frontend/src/components/artifact/Artifacts.vue
  frontend/src/views/Artifacts.vue
Due: eslint

refactor: make source configurable
  lib/mihari/schemas/alert.rb
  lib/mihari/services/proxies.rb
Due: standard

refactor: renew crt.sh analyzer
  lib/mihari/clients/crtsh.rb
Due: standard

chore: update vue-concurrency
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: eslint

test: add tests
  lib/mihari/commands/alert.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/commands/tag.rb
  spec/commands/alert_spec.rb
  spec/commands/artifact_spec.rb
  spec/commands/config_spec.rb
  spec/commands/rule_spec.rb
  spec/commands/search_spec.rb
  spec/commands/tag_spec.rb
  spec/commands/version_spec.rb
  spec/http_spec.rb
Due: standard
