Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    standard:
      glob: "*.rb"
      run: bundle exec standardrb --fix {staged_files}
      stage_fixed: true
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

chore: update frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: update docs
  docs/archtecture.md
  docs/diagrams.md
  docs/usage.md
Due: none

v7.1.3
  lib/mihari/version.rb
Due: standard

ci: disable npm audit
  .github/workflows/gem.yml
Due: none

chore: output elapsed build time
  Rakefile
Due: none

refactor: improve factory_bot usage
  spec/factories/alerts.rb
  spec/factories/artifacts.rb
  spec/factories/rules.rb
  spec/services/artifact_enricher_spec.rb
  spec/sidekiq/artifact_enrich_job_spec.rb
  spec/web/endpoints/artifacts_spec.rb
Due: standard

feat: set q links
  frontend/src/components/artifact/AS.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/artifact/CPEs.vue
  frontend/src/components/artifact/DnsRecords.vue
  frontend/src/components/artifact/Ports.vue
  frontend/src/components/artifact/ReverseDnsNames.vue
  frontend/src/components/artifact/Tags.vue
  frontend/src/components/artifact/Vulnerabilities.vue
  frontend/src/types.ts
Due: eslint, prettier

fix: fix typo
  lib/mihari/models/artifact.rb
Due: standard

refactor: improve type check
  docs/analyzers/feed.md
  lib/mihari/services/feed.rb
Due: standard

refactor: unify tags behavior
  frontend/src/components/alert/Alert.vue
  frontend/src/components/alert/AlertDetail.vue
  frontend/src/components/alert/AlertsWrapper.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/artifact/ArtifactsWrapper.vue
  frontend/src/components/artifact/Tags.vue
  frontend/src/components/rule/ActionButtons.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/components/rule/RulesWrapper.vue
  frontend/src/components/tag/Tag.vue
  frontend/src/components/tag/Tags.vue
  frontend/src/types.ts
  lib/mihari/entities/artifact.rb
Due: standard, eslint, prettier

fix: remove unused func
  frontend/src/components/alert/AlertsWrapper.vue
Due: eslint, prettier

fix: fix typo error
  frontend/src/api.ts
Due: eslint, prettier

fix: fix type error (again!)
  frontend/src/api-helper.ts
Due: eslint, prettier

chore: apply ESLint & Prettier
  frontend/tests/utils.spec.ts
Due: eslint, prettier

feat: delete orphaned alert
  frontend/src/components/alert/Alert.vue
  frontend/src/components/alert/AlertDetail.vue
  frontend/src/components/artifact/ArtifactTag.vue
  frontend/src/components/artifact/ArtifactTags.vue
  lib/mihari/models/artifact.rb
  spec/models/artifact_spec.rb
Due: standard, eslint, prettier

refactor: remove $SAFE
  docs/analyzers/feed.md
  lib/mihari/services/feed.rb
Due: standard

feat: ensure emitters have "database" at least
  lib/mihari/schemas/rule.rb
  spec/factories/rules.rb
  spec/schemas/rule_spec.rb
Due: standard

refactor: split falsepositve concern
  lib/mihari.rb
  lib/mihari/concerns/falsepositive_normalizable.rb
  lib/mihari/concerns/falsepositive_validatable.rb
Due: standard

chore: change Puma's default max threads [skip ci]
  docs/usage.md
  lib/mihari/commands/web.rb
Due: standard

refactor: use lambda instead of [].tap
  lib/mihari/emitters/slack.rb
  lib/mihari/enrichers/whois.rb
  lib/mihari/services/proxies.rb
Due: standard

refactor: use #tap & Hash#delete
  lib/mihari/analyzers/base.rb
  lib/mihari/rule.rb
Due: standard

refactor: simplify message
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/rules.rb
Due: standard

feat: introduce UnenrichableError
  lib/mihari/errors.rb
  lib/mihari/models/artifact.rb
  lib/mihari/services/enrichers.rb
  lib/mihari/web/endpoints/artifacts.rb
  spec/fixtures/vcr_cassettes/Mihari_Services_ArtifactEnricher/ip_1_1_1_1.yml
  spec/services/artifact_enricher_spec.rb
  spec/sidekiq/artifact_enrich_job_spec.rb
  spec/web/endpoints/artifacts_spec.rb
Due: standard

refactor: set convention for .configuration_keys
  lib/mihari/actor.rb
  lib/mihari/analyzers/binaryedge.rb
  lib/mihari/analyzers/censys.rb
  lib/mihari/analyzers/circl.rb
  lib/mihari/analyzers/fofa.rb
  lib/mihari/analyzers/greynoise.rb
  lib/mihari/analyzers/hunterhow.rb
  lib/mihari/analyzers/onyphe.rb
  lib/mihari/analyzers/otx.rb
  lib/mihari/analyzers/passivetotal.rb
  lib/mihari/analyzers/pulsedive.rb
  lib/mihari/analyzers/securitytrails.rb
  lib/mihari/analyzers/shodan.rb
  lib/mihari/analyzers/urlscan.rb
  lib/mihari/analyzers/virustotal.rb
  lib/mihari/analyzers/virustotal_intelligence.rb
  lib/mihari/analyzers/zoomeye.rb
  lib/mihari/config.rb
  lib/mihari/emitters/database.rb
  lib/mihari/emitters/misp.rb
  lib/mihari/emitters/slack.rb
  lib/mihari/emitters/the_hive.rb
  spec/cli/config_spec.rb
  spec/spec_helper.rb
Due: standard

fix: add whois
  Dockerfile
Due: none

docs: update docs
  docs/analyzers/circl.md
  docs/enrichers/index.md
  docs/installation.md
Due: none

chore: update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: add type-check hook
  lefthook.yml
Due: none

v7.2.0
  lib/mihari/version.rb
Due: standard

chore: update activerecord
  mihari.gemspec
Due: none

refactor: use #filled
  lib/mihari/schemas/alert.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/schemas/emitter.rb
  lib/mihari/schemas/rule.rb
Due: standard

refactor: renew enrichers
  lib/mihari/enrichers/base.rb
  lib/mihari/enrichers/google_public_dns.rb
  lib/mihari/enrichers/mmdb.rb
  lib/mihari/enrichers/shodan.rb
  lib/mihari/enrichers/whois.rb
  lib/mihari/models/alert.rb
  lib/mihari/models/artifact.rb
  lib/mihari/models/rule.rb
  lib/mihari/rule.rb
  lib/mihari/schemas/macros.rb
  lib/mihari/services/builders.rb
  lib/mihari/services/enrichers.rb
  lib/mihari/services/getters.rb
  spec/commands/search_spec.rb
  spec/enrichers/google_public_dns_spec.rb
  spec/enrichers/mmdb_spec.rb
  spec/enrichers/shodan_spec.rb
  spec/enrichers/whois_spec.rb
  spec/models/artifact_spec.rb
  spec/services/autonomous_system_builder_spec.rb
  spec/services/cpe_builder_spec.rb
  spec/services/dns_record_builder_spec.rb
  spec/services/geolocation_builder_spec.rb
  spec/services/port_builder_spec.rb
  spec/services/reverse_dns_builder_spec.rb
  spec/services/vulnerability_builder_spec.rb
  spec/services/whois_builder_spec.rb
Due: standard

refactor: renew parallel execution
  lib/mihari/actor.rb
  lib/mihari/analyzers/base.rb
  lib/mihari/enrichers/whois.rb
  lib/mihari/rule.rb
  lib/mihari/schemas/options.rb
  spec/commands/search_spec.rb
  spec/rule_spec.rb
Due: standard

fix: fix Artifact#domain
  lib/mihari/enrichers/google_public_dns.rb
  lib/mihari/enrichers/whois.rb
  lib/mihari/models/artifact.rb
Due: standard

docs: update parallel description
  docs/analyzers/index.md
  docs/emitters/index.md
  docs/enrichers/index.md
Due: none

chore: update dependencies
  frontend/package-lock.json
  frontend/package.json
  mihari.gemspec
Due: none

v7.3.0
  lib/mihari/version.rb
Due: standard

feat: fix parallel enrichment issue
  docs/enrichers/index.md
  lib/mihari/actor.rb
  lib/mihari/analyzers/base.rb
  lib/mihari/emitters/base.rb
  lib/mihari/rule.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/schemas/concerns/orrable.rb
  lib/mihari/schemas/emitter.rb
  lib/mihari/schemas/enricher.rb
  lib/mihari/schemas/options.rb
  lib/mihari/schemas/rule.rb
  spec/commands/search_spec.rb
Due: standard

refactor: small refactoring
  lib/mihari/rule.rb
Due: standard
