Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: standard, eslint

standard:
  run: bundle exec standardrb --fix {staged_files} && git add {staged_files}

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

refactor: renew error handling
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/alert/ActionButtons.vue
  frontend/src/components/alert/Alert.vue
  frontend/src/components/alert/AlertDetail.vue
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/rule/ActionButtons.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/components/rule/RuleDetail.vue
  frontend/src/components/rule/Rules.vue
  frontend/src/types.ts
  lib/mihari/entities/message.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
Due: standard, eslint

test: test get methods
  spec/commands/alert_spec.rb
  spec/commands/artifact_spec.rb
  spec/commands/rule_spec.rb
  spec/web/endpoints/alerts_spec.rb
Due: standard

fix: use database fixtures
  spec/commands/rule_spec.rb
Due: standard

ci: test with Ruby 3.3
  .github/workflows/test.yml
Due: none

refactor: renew commands
  lib/mihari.rb
  lib/mihari/cli/main.rb
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/commands/tag.rb
  lib/mihari/services/initializers.rb
  spec/commands/rule_spec.rb
  spec/services/initializers_spec.rb
  spec/spec_helper.rb
Due: standard

refactor: introduce factory_bot
  lib/mihari/enrichers/whois.rb
  lib/mihari/models/artifact.rb
  mihari.gemspec
  spec/commands/alert_spec.rb
  spec/commands/artifact_spec.rb
  spec/commands/config_spec.rb
  spec/commands/rule_spec.rb
  spec/commands/tag_spec.rb
  spec/emitters/database_spec.rb
  spec/emitters/misp_spec.rb
  spec/emitters/slack_spec.rb
  spec/emitters/the_hive_spec.rb
  spec/emitters/webhook_spec.rb
  spec/enrichers/whois_spec.rb
  spec/factories/alerts.rb
  spec/factories/artifacts.rb
  spec/factories/rules.rb
  spec/models/alert_spec.rb
  spec/models/artifact_spec.rb
  spec/models/rule_spec.rb
  spec/services/alert_proxy_spec.rb
  spec/spec_helper.rb
  spec/support/shared_contexts/database_context.rb
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/artifacts_spec.rb
  spec/web/endpoints/rules_spec.rb
  spec/web/endpoints/tags_spec.rb
Due: standard

fix: downgrade anyway_config
  mihari.gemspec
Due: none

chore: update tag spec(s)
  lib/mihari/cli/rule.rb
  spec/factories/rules.rb
  spec/factories/tags.rb
  spec/spec_helper.rb
  spec/web/endpoints/tags_spec.rb
Due: standard

chore: update searchable attributes
  docs/usage.md
  frontend/src/components/artifact/ArtifactsWrapper.vue
  lib/mihari/models/artifact.rb
Due: standard, eslint

feat: introduce Sidekiq
  config.ru
  docs/configuration.md
  docs/overview.md
  docs/requirements.md
  docs/tips/sidekiq.md
  docs/usage.md
  exe/mihari
  frontend/src/api-helper.ts
  frontend/src/api.ts
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/Message.vue
  frontend/src/components/alert/AlertsWithPagination.vue
  frontend/src/components/rule/ActionButtons.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/components/rule/RuleDetail.vue
  frontend/src/types.ts
  lib/mihari.rb
  lib/mihari/analyzers/base.rb
  lib/mihari/cli/application.rb
  lib/mihari/commands/sidekiq.rb
  lib/mihari/commands/web.rb
  lib/mihari/config.rb
  lib/mihari/entities/messages.rb
  lib/mihari/rule.rb
  lib/mihari/sidekiq/application.rb
  lib/mihari/web/application.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/rules.rb
  mihari.gemspec
  mkdocs.yml
  spec/spec_helper.rb
  spec/web/endpoints/artifacts_spec.rb
  spec/web/endpoints/rules_spec.rb
Due: standard, eslint

feat: enrich artifact with Sidekiq
  docs/tips/sidekiq.md
  frontend/src/api-helper.ts
  frontend/src/api.ts
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/rule/Rule.vue
  frontend/src/components/rule/RuleDetail.vue
  lib/mihari/database.rb
  lib/mihari/sidekiq/application.rb
  lib/mihari/sidekiq/jobs.rb
  lib/mihari/web/endpoints/artifacts.rb
  spec/sidekiq/artifact_enrich_job_spec.rb
  spec/sidekiq/search_job_spec.rb
  spec/spec_helper.rb
Due: standard, eslint

refactor: remove IPInfo with MMDB
  docs/enrichers/index.md
  docs/enrichers/ipinfo.md
  docs/enrichers/mmdb.md
  docs/rule.md
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/types.ts
  frontend/src/utils.ts
  lib/mihari.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/config.rb
  lib/mihari/enrichers/ipinfo.rb
  lib/mihari/enrichers/mmdb.rb
  lib/mihari/entities/ip_address.rb
  lib/mihari/models/artifact.rb
  lib/mihari/models/autonomous_system.rb
  lib/mihari/models/geolocation.rb
  lib/mihari/schemas/enricher.rb
  lib/mihari/services/getters.rb
  lib/mihari/structs/ipinfo.rb
  lib/mihari/structs/mmdb.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  spec/enrichers/mmdb_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Controllers_IPAddressController/get_/api/ip_addresses/_ip/returns_200.yml
  spec/fixtures/vcr_cassettes/Mihari_Enrichers_IPInfo/ip_1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Enrichers_MMDB/_call/1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Enrichers_MMDB/ip_1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_autonomous_system/1_6_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Models_Artifact/_enrich_by_enricher/with_IPInfo/1_7_1_2.yml
  spec/fixtures/vcr_cassettes/Mihari_Web_Endpoints_IPAddresses/get_/api/ip_addresses/_ip/returns_200.yml
  spec/models/artifact_spec.rb
  spec/models/autonomous_system_spec.rb
  spec/models/geolocation_spec.rb
  spec/web/endpoints/ip_addresses_spec.rb
Due: standard, eslint

refactor: renew result handling
  lib/mihari/analyzers/base.rb
Due: standard

refactor: renew CLI/commands specs
  spec/cli/alert_spec.rb
  spec/cli/artifact_spec.rb
  spec/cli/config_spec.rb
  spec/cli/databaes_spec.rb
  spec/cli/rule_spec.rb
  spec/cli/tag_spec.rb
  spec/commands/alert_spec.rb
  spec/commands/artifact_spec.rb
  spec/commands/config_spec.rb
  spec/fixtures/rules/invalid_rule.yml
Due: standard

refactor: replace Glint + Webrick with Capybara
  lib/mihari/http.rb
  mihari.gemspec
  spec/emitters/webhook_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_HTTP_Factory/_post/with_application/json/1_1_2_1.yml
  spec/fixtures/vcr_cassettes/Mihari_HTTP_Factory/_post/with_application/x-www-form-urlencoded/1_1_1_1.yml
  spec/http_spec.rb
  spec/support/fake_http_bin.rb
  spec/support/helpers.rb
Due: standard

refactor: renew enrichers
  lib/mihari.rb
  lib/mihari/clients/mmdb.rb
  lib/mihari/clients/shodan_internet_db.rb
  lib/mihari/enrichers/google_public_dns.rb
  lib/mihari/enrichers/mmdb.rb
  lib/mihari/enrichers/shodan.rb
Due: standard

refactor: renew Sidekiq configuration
  docs/configuration.md
  docs/emitters/database.md
  docs/tips/sidekiq.md
  lib/mihari.rb
  lib/mihari/config.rb
  lib/mihari/sidekiq/application.rb
Due: standard

fix: set faked config for Sidekiq
  spec/sidekiq/artifact_enrich_job_spec.rb
  spec/sidekiq/search_job_spec.rb
  spec/spec_helper.rb
  spec/support/shared_contexts/sidekiq_context.rb
Due: standard

fix: fix SIDEKIQ_REDIS_URL handling issue
  lib/mihari/config.rb
  spec/spec_helper.rb
Due: standard

refactor: renew rule API endpoint
  lib/mihari/errors.rb
  lib/mihari/services/creators.rb
  lib/mihari/web/endpoints/rules.rb
Due: standard

refactor: renew rule API endpoint
  docs/usage.md
  lib/mihari/cli/tag.rb
  lib/mihari/commands/alert.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/rule.rb
  lib/mihari/services/builders.rb
  lib/mihari/services/creators.rb
  lib/mihari/web/endpoints/rules.rb
  spec/web/endpoints/rules_spec.rb
Due: standard

refactor: fix misc frontend issues
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/alert/Alert.vue
  frontend/src/components/alert/AlertDetail.vue
  frontend/src/components/artifact/Artifact.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/rule/Rules.vue
  lefthook.yml
Due: eslint

refactor: use fmap
  lib/mihari/models/autonomous_system.rb
  lib/mihari/models/cpe.rb
  lib/mihari/models/dns.rb
  lib/mihari/models/geolocation.rb
  lib/mihari/models/port.rb
  lib/mihari/models/reverse_dns.rb
  lib/mihari/models/whois.rb
Due: standard

test: renew tests use fake HTTPBin
  spec/emitters/webhook_spec.rb
  spec/http_spec.rb
  spec/spec_helper.rb
  spec/support/helpers.rb
  spec/support/httpbin.rb
  spec/support/shared_contexts/httpbin_context.rb
Due: standard

refactor: renew feed
  docs/analyzers/feed.md
  lib/mihari.rb
  lib/mihari/analyzers/feed.rb
  lib/mihari/feed/parser.rb
  lib/mihari/feed/reader.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/services/feed.rb
  spec/analyzers/feed_spec.rb
  spec/feed/parser_spec.rb
  spec/feed/reader_spec.rb
  spec/services/feed_spec.rb
Due: standard

refactor: stop directly using/converting Artifact in clients
  lib/mihari/analyzers/crtsh.rb
  lib/mihari/analyzers/passivetotal.rb
  lib/mihari/analyzers/securitytrails.rb
  lib/mihari/clients/crtsh.rb
  lib/mihari/clients/passivetotal.rb
  lib/mihari/clients/securitytrails.rb
Due: standard

refactor/fix: refactor/fix misc issues
  lib/mihari.rb
  lib/mihari/analyzers/fofa.rb
  lib/mihari/analyzers/passivetotal.rb
  lib/mihari/cli/application.rb
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/database.rb
  lib/mihari/commands/mixins.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/commands/tag.rb
  lib/mihari/concerns/database_connectable.rb
  lib/mihari/emitters/misp.rb
  lib/mihari/emitters/slack.rb
  lib/mihari/emitters/the_hive.rb
  lib/mihari/feed/parser.rb
  lib/mihari/feed/reader.rb
  lib/mihari/sidekiq/jobs.rb
  lib/mihari/web/middleware/connection.rb
Due: standard

refactor: renew API endpoints
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/rules.rb
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/rules_spec.rb
Due: standard

fix: update GreyNoise link
  frontend/src/links/greynoise.ts
Due: eslint

chore: add actionlint hook [skip ci]
  lefthook.yml
Due: none

chore: renew .gitignore
  .gitignore
Due: none

chore: use path-info
  spec/support/httpbin.rb
Due: standard

refactor: small refactorings
  lib/mihari/models/autonomous_system.rb
  lib/mihari/models/cpe.rb
  lib/mihari/models/geolocation.rb
  lib/mihari/models/port.rb
  lib/mihari/models/reverse_dns.rb
  lib/mihari/services/proxies.rb
  lib/mihari/web/application.rb
Due: standard

refactor: introduce jq
  docs/analyzers/feed.md
  lib/mihari/services/feed.rb
  mihari.gemspec
  spec/analyzers/feed_spec.rb
  spec/feed/parser_spec.rb
  spec/feed/reader_spec.rb
  spec/services/feed_spec.rb
Due: standard

ci: install build-essential
  .github/workflows/test.yml
Due: none

ci: install jq
  .github/workflows/test.yml
Due: none

ci: install libjq-dev
  .github/workflows/test.yml
Due: none

refactor: renew Feed
  docs/analyzers/feed.md
  lib/mihari/services/feed.rb
  spec/analyzers/feed_spec.rb
  spec/services/feed_spec.rb
Due: standard

docs: update docs [skip ci]
  docs/dev.md
  docs/index.md
  docs/installation.md
  docs/overview.md
  docs/requirements.md
  docs/tips/docker.md
  frontend/package-lock.json
  frontend/package.json
  mkdocs.yml
Due: none

Path conditions:
  standard: any of: *.rb
  eslint: any of: *.{js,ts,vue} and ^frontend/
